<section style="padding-top:2%;" class="ae-container-fluid ae-container-fluid--full rk-main">
    <!-- <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title ">Urku Inner Pages</h1>
      <p class="ae-theta rk-portfolio-category ">Design Styles</p>
    </div> -->
    <div class="ae-container-fluid ae-container-fluid--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">t(5) | i(6)<sup class="ae-mi"> offset 1</sup></h4>
          <p>A series of essential stationery format to showcase your branding projects. </p>
          <p>It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.</p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/inner-1.jpg" alt="Urku Portfolio"></div>
      </div>
      <!-- <div class="ae-grid au-xs-ptp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        
        </div>
      </div>
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/inner-1.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1 item-lg--offset-1">
          <h4 class="ae-u-bolder">i(6) | t(5)<sup class="ae-mi"> offset 1</sup></h4>
          <p>A series of essential stationery format to showcase your branding projects. </p>
          <p>It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.</p>
        </div>
      </div> -->
      <div class="ae-grid au-xs-ptp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">


        </div>
      </div>
    </div>
      <!-- <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-7 au-lg-ptp-1">
          <h4 class="ae-u-bolder">t(7) | i(4)<sup class="ae-mi"> offset 1</sup></h4>
          <p>A series of essential stationery format to showcase your branding projects. </p>
          <p>It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.</p>
        </div>
        <div class="ae-grid__item item-lg-4 item-lg--offset-1"><img src="assets/img/inner-1.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid au-xs-ptp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        
        </div>
      </div>
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-8"><img src="assets/img/inner-1.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">i(8) | t(3)<sup class="ae-mi"> offset 1</sup></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
      </div>
    </div> -->
  </section>
